.page {
  margin: 0;
  padding: 0;
}

.petshop__header-container {
  height: 15vh;
  padding: 15px 0 0 30px;
  background-image: linear-gradient(to left, #ffffff, rgb(226, 226, 226));
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 5px;
}

.petshop__header-logo {
  height: 8em;
  opacity: .8;  
}

.petshop {
  display: grid;
  height: 80vh;  
  grid-template-columns: 25% 75%;
  grid-template-rows: 33% 33% 33%;  
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.pets-list__cats {
  grid-area: 1 / 1 / 1 / 1;
  padding-left: 20px;
}

.pets-list__price-greater-average {
  grid-area: 2 / 1 / 2 / 1;
  padding-left: 20px;
}

.pets-list__white-or-fluffy {
  grid-area: 3 / 1 / 3 / 1;
  padding-left: 20px;
}

.pets-list__heading {
  line-height: 30px;
  font-weight: bold;  
  margin-bottom: 0px;
}

.pets-list__cats-list,
.pets-list__price-greater-average-list,
.pets-list__white-or-fluffy-list {
  padding-left: 10px;
  margin: 5px 0 20px;
  height: 81%;
  overflow: hidden;
  overflow-y: auto;
}

.pets-list__item {
  width: 300px;
  color: #0066cc;
  list-style-image: url("../img/paw.png");
  list-style-position: outside;
  line-height: 22px;  
  margin-left: 20px;
  padding: 5px;  
}

.pet-view {
  grid-area: 1 / 2 / 3 / 2;
  box-shadow: -2px 8px 25px 0 rgb(207, 207, 207);
  width: 40em;
  height: 38em;
  padding: 20px;
  margin-left: 60px;    
}

.petshop li:hover {
  color: #ffffff;
  background-color: #ffa600;
  transition: .1s;
}

.petshop li:active {
  color: #ffffff;
  background-color: #ff8800;
  transition: .2s;
}

.pet-image {
  display: block;
  height: 25em;
  margin: 0 auto;
}

.button {
  color: #333;
  display: inline-block;
  width: 7.8em;
  text-decoration: none;
  text-align: center;
  line-height: 1.5em;
  border: .06em solid #0066cc;
}

.button:hover {
  color: #ffffff;
  background-color: #ffa600;
  border: none;
}